<div class="header">
  <h1>
    <i class="fa fa-laptop"></i>
    <%= "#{@pin.title}" %>
  </h1>
</div>

<div class="show-pin">
  
  <% if @pin.image.url.nil? %>
  <% else %>
    <p><img src="<%= @pin.image.url(:medium) %>"></p>
  <% end %>
  
  <p><%= "#{@pin.text}" %></p>

  <hr/>
  <p>
    <b>Visit <%= "#{@pin.title}" %> at: </b>
    <a class="url" href="<%= "#{@pin.url}" %>" target="_blank">
      <%= "#{@pin.url}" %>
    </a>
  </p>
</div>
<br/>
<a href="/">
<i class="fa fa-arrow-circle-left"></i>
  Back to Home
</a>
